/*#carousel
	{
		position:relative;
		float:left;
		width:500px;
		height:400px;
	}

.carousel
	{
		width:500px;
		height:400px;
	}*/

/*#video 
	{
		position:relative;
		float:right;
		width:500px;
		height:400px;
		background-color:#111;
	}*/
